.posts {
  display: grid;
  place-items: center;

  padding-bottom: 25px;
}

.posts > * {
  margin: 25px 0;
}

.posts > :first-child {
  margin-top: 0;
}

.posts > :last-child {
  margin-bottom: 0;
}
