.admin main {
  margin-left: 65px;
}

.admin nav {
  position: fixed;
  background-color: var(--primary);

  width: 65px;
  height: 100vh;
}

.navItems {
  display: flex;
  place-items: center;
  flex-direction: column;
  margin-top: 15px;

  height: -webkit-fill-available;
}

.navItems > * {
  cursor: pointer;
  margin: 12px 0;
}

.navItems > :first-child {
  margin-top: 0;
}

.navItems > :last-child {
  margin-top: auto;
}

.navItemActive {
  
}

.navIcons {
  color: #ffffff;
}
