.auth_container {
  display: grid;
  place-items: center;

  height: 100vh;
}

.auth {
  padding: 40px 50px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.auth_title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.auth_description {
  text-align: center;
}

.auth_form {
  padding-top: 35px;
}

.auth_form button {
  width: -webkit-fill-available;
  padding: 8px 0px;

  cursor: pointer;

  color: var(--white);
  font-weight: bold;

  border: none;
  outline: none;

  transition: all 250ms ease-out;
  background-color: var(--primary);
}

.auth_form button:hover {
  background-color: var(--primary-clear);
}

.auth_form > * {
  margin: 25px 0px;
}

.auth_form > :first-child {
  margin-top: 0;
}

.auth_form > :last-child {
  margin-top: 0;
  margin-bottom: 0;
}
