.post {
  background-color: white;
  border-radius: 6px;
  width: 100%;
  max-width: 560px;

  border: solid 1px #a0a0a0;
}

.postContent {
}

.imageCont {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 230px;

  top: 0;
  left: 0;
}

.imageCont img {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;

  border-radius: 5px 5px 0 0;

  transition: all 600ms ease-in-out;
}

.imageCont img:hover {
  transform: scale(1.04);
}

.title {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 22px;
  border-bottom: solid 1px #a0a0a0;

  cursor: pointer;
}

.title:hover {
  text-decoration: underline #002f7a;
}

.description {
  padding: 10px 10px;
}

.readMore {
  margin-left: 5px;
  cursor: pointer;
  color: #0051d3;

  transition: color 50ms ease-in;
}

.readMore:hover {
  color: #3985ff;
}
