:root {
  --primary: #1a6efc;
  --secondary: #ffc33d;
  --background: #ffffff;
  --contrast-primary: #e9eef3;
  --contrast-secondary: #f2f4f6;
  --white: #ffffff;
  --muted-text: #424952;
  --secondary-text: #c5d8ff;
  --text: #0c0c0c;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  word-wrap: break-word;

  color: var(--text);
  background-color: var(--background) !important;

  background-image: url("/utils/site-background.svg");
  background-position: center bottom;
  background-repeat: repeat-y;
  background-size: 100%;
}

.vhr {
  padding: 7px 0;
  margin: 0 10px;
  border: solid 1px var(--contrast-secondary);
}

.bg-white {
  background-color: var(--white);
  color: var(--text);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.text_center {
  text-align: center;
}

.hideBorder {
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.shark_button {
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.shark_button:hover,
.bg-white:hover {
  background-color: var(--contrast-primary) !important;
}
