:root {
  --primary: #1a6efc;
  --secondary: #ffc33d;
  --background: #ffffff;

  --primary-clear: #327dff;
  --secondary-clear: #ffce65;

  --contrast-primary: #e9eef3;
  --contrast-secondary: #f2f4f6;
  --white: #ffffff;
  --muted-text: #424952;
  --secondary-text: #c5d8ff;
  --text: #0c0c0c;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  word-wrap: break-word;

  color: var(--text);
  background-color: var(--background) !important;

  background-position: center bottom;
  background-repeat: repeat-y;
  background-size: 100%;
}

p {
  margin: 0;
}

.vhr {
  padding: 7px 0;
  margin: 0 10px;
  border: solid 1px var(--contrast-secondary);
}

.bg-white {
  background-color: var(--white);
  color: var(--text);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.text_center {
  text-align: center;
}

.hideBorder {
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.shark_button {
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;

  transition: all 250ms ease-in-out;
}

.shark_button:hover,
.bg-white:hover {
  background-color: var(--contrast-primary) !important;
}

input[type="text"],
input[type="password"],
textarea,
select {
  width: -webkit-fill-available;

  padding: 12px 20px;
  padding-top: 14px;

  border: none;
  outline: none;

  border-bottom: solid 2px var(--contrast-primary);
  border-radius: 4px;

  transition: border 250ms ease-out;
  background-color: var(--contrast-primary);
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:hover,
textarea:focus {
  border-bottom: solid 2px var(--primary);
}

input[type="file"] {
  width: -webkit-fill-available;

  padding: 6px 18px;
  cursor: pointer;

  border: solid 2px var(--contrast-primary);
  border-radius: 4px;

  transition: all 250ms ease-out;
  background-color: var(--contrast-primary);
}

input[type="file"]:hover,
input[type="file"]:focus {
  border: solid 2px var(--primary);
  outline: none;
}

input[type="file"]::-webkit-file-upload-button {
  padding: 6px 8px;
  cursor: pointer;

  border-radius: 4px;

  color: var(--white);
  font-weight: 500;
  margin-right: 10px;

  outline: none;
  border: none;

  background-color: var(--primary);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url("/icons/angle-down-solid.svg") 90% / 6% no-repeat var(--contrast-primary);
}
